
.renderList {
  .collection-header {
   
  }

  .collection-List {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    
    .contest-item {
      min-width: 300px;
    margin: 10px;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;

      .card-content {
        .info-row {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
      
          .info-label {
            font-weight: bold;
            width: 120px;
          }
      
          .info-value {
            flex-grow: 1;
          }
        }
      }
      
    }
  }
}

