/* CSS styles for the AddHandles component */

.addHandlesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1; /* Background color for the container */
  }
  
  .addHandles {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff; /* Background color for the form area */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .manualHandles {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .manualHandles h4 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .tooltipped {
    font-size: 1.2rem;
    color: #888;
    cursor: pointer;
    text-decoration: none;
  }
  
  .chips {
    margin-bottom: 10px;
  }
  
  .getQuestions {
    display: flex;
    gap: 10px;
  }
  
  button {
    background-color: #d81dbc;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #af1e99; /* Button background color on hover */
  }
  
  h4 {
    font-size: 1.3rem;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  ul li::before {
    // content: ">";
    margin-right: 5px;
    font-size: 1.2rem;
    color: #af1e99; /* Color of the ">" symbol */
  }
  