// ContestList.scss

.contest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  
    h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 0.5rem;
    }
  
    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .contest-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      transition: box-shadow 0.3s, border-color 0.3s, transform 0.3s;
  
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-color: #a1a1a1;
        transform: translateY(-5px);
      }
  
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 600;
  
        .logo {
          width: 30px;
          height: 30px;
          box-shadow: inset 0 0 3px #cacaca;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
  
      .details {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 14px;
        align-items: center;
  
        p {
          margin: 0;
          padding: 0;
          letter-spacing: 1px;
        }
      }
    }
  }
  