.Container {
  background:var(--primary-800);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Logo {
    color: #eeeeee;
    font-size: 30px;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 10px;
    li {
      list-style: none;
      a {
        color: #eeeeee;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        &:hover {
          color: #ffffff;
          text-decoration: underline;
          // flex-direction: c;
        }
      }
      .btn-color{
        background:var(--primary-900);
      }
    }
    
  }
}
