.tableitem {
    border: 1px solid #c3c3c3;
    margin: 10px 5px;
    display: flex;
    border-radius: 10px;
    transition: all ease-in-out 0.25s;
    overflow: hidden;

    &:hover {
        box-shadow: 0 2px 3px #a1a1a1;
        border-color: #a1a1a1;
    }

    img {
        margin: 3px;
        width: 20px;
        height: 20px;
        /* border: 1px solid black; */
        box-shadow: inset 0 0 3px #cacaca;
        padding: 5px;
        border-radius: 50%;
    }

    span {
        font-size: 14px;
        position: relative;
        top: -15px;
        color: #232323;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .details {
        width: 450px;
        padding: 5px;
    }

}