// InteractivePractice.scss


  .fullscreen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  .content {
    text-align: center;

    h1 {
      font-size: 36px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    .heading {
      color: #c960fa;
    }

    p {
      font-size: 18px;
      color: #666;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;

      input[type="text"] {
        padding: 10px;
        border: 2px solid #c960fa;
        border-radius: 8px;
        font-size: 16px;
        color: #333;
        outline: none;
        transition: border-color 0.3s ease-in-out;

        &::placeholder {
          color: #999;
        }

        &:focus {
          border-color: #333;
        }
      }

      button {
        margin-left: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #c960fa;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #8b39d5;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }

